@import url('https://fonts.cdnfonts.com/css/fizzy-soda');
@import url('https://fonts.cdnfonts.com/css/dedicool');
@import url('https://fonts.cdnfonts.com/css/nihonium113-console');

body {
    font-family: "Lato", sans-serif;
    overflow: hidden;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover{
    color: #f1f1f1;
  }

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.cim{
    font-family: 'Fizzy Soda', sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 50px;
    background-color: aqua;
    width: fit-content;
    margin: auto;
    border-radius: 50px;
    box-shadow: #818181;
    margin-top: 15px
}

.alcim{
    font-family: 'Nihonium113 Console', sans-serif;
    font-size: 30px;
    text-align: center;
}

body {
    font-family: "Lato", sans-serif;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sidenav a {
    padding: 5% 0; /* Adjust vertical padding */
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: center;
    line-height: normal;
    height: auto;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    transition: 0.5s;
  }

  .menu-button-container {
    position: fixed;
    top: 20px;
    left: 0;
    transition: left 0.5s;
  }

  .menu-button-container img {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    
    .sidenav a {
      font-size: 18px;
    }
  }

